/* Main CSS file */
.nameTheme{
    background-color: #2eeeee;
    font-weight: bold;
}

.groupNumber{
    font-weight: bold;
    text-decoration: underline;
}

.borderDashed{
    border-style: dashed;
}